@font-face {
  font-family: 'The Seasons Regular';
  src: local("The Seasons Regular") url("../assets/fonts/site-fonts/the-seasons/theseasons-reg.woff") format('woff');
}

.the-seasons-regular {
  font-family: "The Seasons Regular"
}

/* The seasons fonts */
.theseasonsbold {
    font-family: "The Seasons Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.theseasonsregular {
    font-family: "The Seasons Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.theseasonslight {
    font-family: "The Seasons Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}