@font-face {
  font-family: The Seasons Regular;
  src: url("./assets/fonts/site-fonts/the-seasons/theseasons-reg.otf");
}

@font-face {
  font-family: The Seasons Italic;
  src: url("./assets/fonts/site-fonts/the-seasons/theseasons-ltit.otf");
}

@font-face {
  font-family: Wednesday;
  src: url("./assets/fonts/site-fonts/wednesday-canva/Wednesday.otf");
}

@font-face {
  font-family: Yaow;
  src: url("./assets/fonts/artist-fonts/Yaow-No-Cameo.otf");
}

@import "tailwindcss";

@theme {
  --font-the-seasons: The Seasons Regular, "serif";
  --font-the-seasons-italic: The Seasons Italic, "serif";
  --font-wednesday: Wednesday, "sansserif";
  --font-yaow: Yaow, "serif";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141214;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #faece0;
    background-color: #141214;
  }
}
