@font-face {
  font-family: The Seasons Regular;
  src: url("./assets/fonts/site-fonts/the-seasons/theseasons-reg.otf");
}

@font-face {
  font-family: The Seasons Bold;
  src: url("./assets/fonts/site-fonts/the-seasons/theseasons-bd.otf");
}

@font-face {
  font-family: The Seasons Light;
  src: url("./assets/fonts/site-fonts/the-seasons/theseasons-lt.otf");
}


@font-face {
  font-family: Wednesday;
  src: url("./assets/fonts/site-fonts/wednesday-canva/Wednesday.otf");
}

@font-face {
  font-family: Yaow;
  src: url("./assets/fonts/artist-fonts/Yaow-No-Cameo.otf");
}

@import "tailwindcss";

@theme {
  --font-the-seasons: The Seasons Regular, "serif";
  --font-the-seasons-bold: The Seasons Bold, "serif";
  --font-the-seasons-light: The Seasons Light, "serif";
  --font-wednesday: Wednesday, "sansserif";
  --font-yaow: Yaow, "serif";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141214;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #faece0;
    background-color: #141214;
  }
}

.theseasonsbold {
    font-family: "The Seasons Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.theseasonsregular {
    font-family: "The Seasons Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.theseasonslight {
    font-family: "The Seasons Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}
